{{ define "main" }}

{{ if eq .Kind "taxonomy" }}

  <h1>
    Categories
  </h1>

  {{ if .Data.Terms }}

    <ul class="post-list">

      {{ range .Data.Terms.Alphabetical }}

        <li class="post-list-item">

          <h2>
            <a href="{{ .Page.RelPermalink }}">
              {{ .Page.Title }}
            </a>
          </h2>

          <p class="post-meta">
            {{ .Count }}
            {{ if eq .Count 1 }}
              article
            {{ else }}
              articles
            {{ end }}
          </p>

        </li>

      {{ end }}

    </ul>

  {{ else }}

    <p>
      No categories yet.
    </p>

  {{ end }}


{{ else }}

  <h1>
    {{ .Title }}
  </h1>

  {{ $posts := where .Pages "Section" "posts" }}

  {{ if $posts }}

    <ul class="post-list">

      {{ range $posts.ByDate.Reverse }}

        <li class="post-list-item">

          <h2>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h2>

          <p class="post-meta">
            {{ .Date.Format "January 2, 2006" }}
          </p>

          {{ with .Description }}

            <p class="post-excerpt">
              {{ . }}
            </p>

          {{ end }}

        </li>

      {{ end }}

    </ul>

  {{ else }}

    <p>
      No posts yet.
    </p>

  {{ end }}

{{ end }}

{{ end }}
